<!DOCTYPE html>
<html>
    <head>
        <title> 酷跑网 </title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

        <div class="container-fluid">
          <div class="row">
            <%= render "common/navbar" %>
            <%= render "common/flashes" %>
          </div>
        </div>
  <!--02.14 下面这行去掉class=container 以解决首页轮播无法全屏自适应功能  陈扬帆-->
        <main><div class="container-fluid">
            <%= yield %>
        </div></main>
  <!--02.14解决footer对齐问题  陈扬帆
            <div class="row">   -->
          <%= render "common/footer" %>
  <!--      </div>     -->

    </body>
</html>
